main {
    width: 94%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 35%;
    justify-content: space-evenly;
    background-color: #f2f2f2;
}

#contenedor-producto, #contenedor-desglose-pago {
    margin: 1.2em 0;
    background-color: white;
}

#mensaje {
    text-align: center;
    font-size: 1.4em;
    padding: 3em 1em;
}

#contenedor-desglose-pago {
    margin: 1.2em 0;
    background-color: white;
}

#contenedor-desglose-pago {
    width: 100%;
    height: fit-content;
    padding-bottom: 1.4em;
    position: sticky;
    top: 0;
}

#contenedor-desglose-pago h2 {
    font-weight: bold;
    padding: 4% 0;
}

#contenedor-desglose-pago table tr:nth-child(4) td {
    font-weight: bold;
    padding: 4% 0;
}

#contenedor-desglose-pago table tr td:nth-child(2) {
    text-align: right;
}

#contenedor-desglose-pago table tr:last-child {
    text-align: center;
}

#contenedor-desglose-pago table {
    width: 80%;
    line-height: 1.3;
    margin: 3% auto 0;
}

#contenedor-desglose-pago button {
    width: 90%;
    font-size: 1.1em;
    padding: 3%;
    color: white;
    border: none;
    background-color: #f77613;
    margin: auto;
}

#contenedor-desglose-pago button:hover {
    background-color: #e2e2bc;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #mensaje {
        padding: 2em 1em;
    }
}

@media screen and (max-width: 480px) {
    main {
        display: block;
    }
    #mensaje {
        padding: 1em 1em;
    }
    article {
        margin-bottom: 0.2em;
    }
    #contenedor-desglose-pago {
        margin: 0.15em 0;
    }
}

