main {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: space-evenly;
}

h2 {
    text-align: center;
}

tr:first-child td {
    padding-top: 0;
}

tr:nth-of-type(5) label {
    display: inline-block;
}

input::placeholder, textarea::placeholder {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
    padding: 0.4em 0.6em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}

td {
    padding-bottom: 3.6%;
}

tr:last-child td {
    text-align: right;
    padding-top: 3%;
}

input[type="submit"] {
    width: 8em;
    height: 2.5em;
    color: white;
    border: none;
    background-color: #f77613;
}

input[type="submit"]:hover {
    background-color: #e2e2bc;
    cursor: pointer;
}

#contactar, #visitanos {
    margin: 0 auto;
}

main::after {
    content: "";
    clear: both;
    display: table;
}

label {
    display: block;
    margin-bottom: 0.4em;
}

#visitanos div:last-child {
    margin-top: 1.6em;
}

#visitanos h3 {
    margin-bottom: 0.4em;
}

.localizacion, .horario {
    margin-top: 2.2em;
}

@media screen and (max-width: 1024px) {
    main {
        justify-content: space-evenly;
    }

    input, textarea {
        width: 22em;
    }

    input[type="radio"], input[type="checkbox"] {
        width: 2em;
    }

}

@media screen and (max-width: 768px) {

    main {
        display: block;
        margin: 0 auto;
    }

    h2 {
        text-align: left;
    }

    input, textarea {
        width: 90%;
    }

    #contactar, #visitanos {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {

    #mapa-google iframe {
        width: -webkit-fill-available;
    }
}
