#contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 19%);
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    #contenedor-productos {
        display: grid;
        grid-template-columns: repeat(3, 30%);
    }
}
@media screen and (max-width: 620px) {
    #contenedor-productos {
        display: grid;
        grid-template-columns: repeat(2, 46%);
    }
}
@media screen and (max-width: 480px) {
    #contenedor-productos {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}